<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field film_title__field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field film_year__field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>
  <div class="field film_directors__field">
    <%= f.label :directors %>
    <%= select_tag "directors", options_from_collection_for_select(Director.all, 'id', 'full_name',@film.directors.map{ |j| j.id }), :multiple => true, :size => 20, :class => 'chosen-select' %>
  </div>
  <div class="field image__field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <% if @film.image.exists? %>
    <div class="preview">
      <%= image_tag image_path(@film.image.url(:thumb)) %>
    </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
