<% title "#{@film.title} - Films - Screening Log" %>

<article class="film">

  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% end %>

  <div class="film__title-container">
  <h1 class="film__title"><%= @film.title %> (<%= link_to @film.year, "/films/year/#{@film.year}" %>, <%= display_directors(@film) %>)</h1>
  </div>

  <nav class="director-action-nav">
   <%= link_to edit_film_path(@film), :class => 'action-link' do %><%= fa_icon "pencil", text: "Edit" %><% end %> &nbsp;&nbsp;<%= link_to @film, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-link' do %><%= fa_icon "times", text: "Delete" %><% end %>&nbsp;&nbsp;<%#= link_to 'Back', films_path, class: 'action-link' %>
  </nav>

  <%= image_tag image_path(@film.image.url(:large)) if @film.image %>

  <div class="screenings">
    <%= link_to 'New Screening', "/screenings/new?id=#{@film.id}", :class => "button" %>
    <ol>
      <%- @screenings.each do |screening| -%>
      <li><%= link_to screening.date.strftime("%m/%d/%Y %I:%M %p"), screening %> <span>(<%= screening.rating %>)</span></li>
      <%- end -%>
    </ol>
  </div>

  <p>
    <%= link_to 'Back', films_path %>
  </p>


</article>
