<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <header class="global-header">

      <nav>
        <ul>
          <li><%= link_to("Films",films_path) %></li>
          <li><%= link_to("Directors",directors_path) %></li>
          <li>
            <%= link_to("Screenings",screenings_path) %> &nbsp;
            (<%= link_to("2018", "/screenings/year/2018") %>)
          </li>
          <li><%= link_to("Top Tens",top_tens_path) %></li>
          <li><%= link_to("Top 100",top_100_path) %></li>
          <li><%= link_to("Visualized",visualized_path) %></li>
          <li><%= link_to("Recent",recent_path) %></li>
        </ul>
      </nav>

      <div class="search">
        <%= form_tag("/search", method: "get") do %>
        <input type="text" name="search" value="<%= params[:search] %>" id="search" placeholder="Search Films">
        <% end %>
        <%#= fa_icon "search" %>
      </div>

    </header>

    <%= yield %>
  </div>

</body>
</html>
